<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <redsys>
                <model>Codeko\Redsys\Model\Redsys</model>
                <debug>1</debug>
                <active>0</active>
                <order_status>payment_review</order_status>
                <title>Redsys</title>
                <payment_action>authorize</payment_action>
                <currency>EUR</currency>
                <tipo_transaccion>0</tipo_transaccion>
                <facturar>1</facturar>
                <mantener_carrito>1</mantener_carrito>
            </redsys>
        </payment>
    </default>
</config>
